<li ><%= link_to '<b> 设备数量统计(按部门统计)</b>', :action=>"device_count_report_by_department"%></li>
<li><%= link_to '<b>设备数量统计(按厂商统计)</b>', :action=>"device_count_report_by_provider" %></li>
<li><%= link_to '<b>设备故障次数统计(按部门统计)</b>', :action => 'fault_count_report_by_department' %></li>
<li><%= link_to '<b>设备故障次数统计(按厂商统计)</b>', :action => 'fault_count_report_by_provider' %></li>