<li ><%= link_to '<b>按设备类型统计</b>', :action=>"device_type_report" %></li>
<li ><%= link_to '<b>按使用单位统计</b>', :action=>"device_department_report"%></li>
<li><%= link_to '<b>按设备提供商统计</b>', :action=>"device_provider_report" %></li>
<li><%= link_to '<b>按维修次数统计</b>', :action => 'device_maintain_report' %></li>